In [1]:
# импорт библиотек

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn

In [2]:
# Загружаем, смотрим. Видим текст и пропуски

data = pd.read_csv(r'C:\Users\1\Desktop\Workplace\Рабочее пространство\Степик\Машинное обучение\Датасеты\archive_melburn\melb_data.csv')
data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [3]:
# Поделим данные на целевую переменную (answer) и признаки (data)

answer = data["Price"]
data = data.drop(columns=["Price"])

In [4]:
# Поделим выборку на train и test. Передаем признаки, целевую переменную и долю данных.
# 20% пойдут на тестовую выборку, остальные 80% - на тренировочную

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(data, answer, test_size=0.2) # test_size - какая доля данных пойдет в тестовую выборку

<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject

### Работа с пропусками - первая часть предобработки данных

In [5]:
# Посмотрим, что там вообще у хохлов

X_train.info()

# Находим пропуски в BuildingArea, YearBuilt, CouncilArea, Car

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10864 entries, 2932 to 4496
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         10864 non-null  object
 1   Address        10864 non-null  object
 2   Rooms          10864 non-null  int64
 3   Type           10864 non-null  object
 4   Method         10864 non-null  object
 5   SellerG        10864 non-null  object
 6   Date           10864 non-null  object
 7   Distance       10864 non-null  float64
 8   Postcode       10864 non-null  float64
 9   Bedroom2       10864 non-null  float64
 10  Bathroom       10864 non-null  float64
 11  Car            10810 non-null  float64
 12  Landsize       10864 non-null  float64
 13  BuildingArea   5700 non-null   float64
 14  YearBuilt      6570 non-null   float64
 15  CouncilArea    9769 non-null   object
 16  Lattitude      10864 non-null  float64
 17  Longtitude     10864 non-null  float64
 18  Regionname     10864 non-null  object
 19  Propertycount  10864 non-null  float64
dtypes: float64(11), int64(1), object(8)
memory usage: 1.7+ MB

In [6]:
# Заполняем NaN константными значениями


# BuildingArea, YearBuilt, Car - числовые, поэтому берем median() (среднее). median > mean, т.к. median меньше подвержена вбросам

X_train["Car"] = X_train["Car"].fillna(X_train["Car"].median())
X_train["BuildingArea"] = X_train["BuildingArea"].fillna(X_train["BuildingArea"].median())
X_train["YearBuilt"] = X_train["YearBuilt"].fillna(X_train["BuildingArea"].median())


# CouncilArea - категориальный признак. Принято заполнять их самым часто встречающимся значением по столбцу

most_frequent_value = X_train["CouncilArea"].value_counts().index[0]  # value_count вызывает количество повторяющихся элементов в порядке убывания. Берем первое по индексу значение, т.е. самое большее

X_train["CouncilArea"] = X_train["CouncilArea"].fillna(most_frequent_value)

<ipython-input-6-2125c691e98f>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train["Car"] = X_train["Car"].fillna(X_train["Car"].median())
<ipython-input-6-2125c691e98f>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train["BuildingArea"] = X_train["BuildingArea"].fillna(X_train["BuildingArea"].median())
<ipython-input-6-2125c691e98f>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train["YearBuilt"] = X_train["YearBuilt"].fillna(X_train["BuildingArea"].median())
<ipython-input-6-2125c691e98f>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train["CouncilArea"] = X_train["CouncilArea"].fillna(most_frequent_value)

In [7]:
# Проверим на наличие пропусков. False = нет

X_train.isna().any()

Suburb           False
Address          False
Rooms            False
Type             False
Method           False
SellerG          False
Date             False
Distance         False
Postcode         False
Bedroom2         False
Bathroom         False
Car              False
Landsize         False
BuildingArea     False
YearBuilt        False
CouncilArea      False
Lattitude        False
Longtitude       False
Regionname       False
Propertycount    False
dtype: bool

In [8]:
# Есть ещё способ KNNImputer. Заполняется по остальным признака, что приводит 

#from sklearn.impute import KNNImputer
#inputer = KNNImputer(n_neightbors=5)
#imputer.fit(X_train)
#new_X_train = imputer.transform(X_train)

## Преобразование категориальных признаков - вторая часть предобработки данных

In [9]:
# Нумерование.

In [10]:
# Первый способ - нумерование руками

from collections import defaultdict
dict_ = defaultdict(int)
for i,x in enumerate(np.unique(X_train.Suburb)):
    dict_[x] = i+1
    

X_train["Suburb"] = X_train["Suburb"].apply(lambda x: dict_[x])

<ipython-input-10-19941f3bdaeb>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train["Suburb"] = X_train["Suburb"].apply(lambda x: dict_[x])

In [11]:
# Проверим, что получилось

X_train.head()

,Suburb,Address,Rooms,Type,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
2932,137,29 Moonee Bvd,3,h,PI,Barry,24/09/2016,13.0,3046.0,3.0,2.0,2.0,585.0,146.0,1975.0,Moreland,-37.69770,144.90710,Northern Metropolitan,8870.0
1697,62,4 Mary St,2,u,VB,Nelson,24/09/2016,3.2,3054.0,2.0,1.0,1.0,0.0,86.0,1940.0,Yarra,-37.78130,144.97730,Northern Metropolitan,3106.0
12076,189,48 Manson Dr,3,h,S,YPA,29/07/2017,29.8,3338.0,3.0,1.0,2.0,670.0,124.0,1975.0,Melton,-37.70228,144.57688,Western Victoria,4718.0
10674,133,19 Osborne Av,4,h,SP,Barry,8/07/2017,12.9,3043.0,4.0,2.0,2.0,561.0,160.0,1970.0,Hume,-37.68269,144.88601,Western Metropolitan,3285.0
6268,277,327 Gillies St,3,h,PI,Nelson,12/06/2016,6.5,3071.0,3.0,2.0,2.0,398.0,126.0,126.0,Darebin,-37.76300,145.01980,Northern Metropolitan,8870.0

In [13]:
# Второй способ - при помощи LabelEncoder из библиотеки sklearn. Делает то же самое, что и первый.

from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

le.fit(X_train["Method"])

LabelEncoder()

In [14]:
# Смотрим какие классы есть в le

le.classes_

array(['PI', 'S', 'SA', 'SP', 'VB'], dtype=object)

In [15]:
X_train["Method"] = le.transform(X_train["Method"])

<ipython-input-15-d9aebaa04185>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train["Method"] = le.transform(X_train["Method"])

In [16]:
# Проверяем изменения

X_train.head()

,Suburb,Address,Rooms,Type,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
2932,137,29 Moonee Bvd,3,h,0,Barry,24/09/2016,13.0,3046.0,3.0,2.0,2.0,585.0,146.0,1975.0,Moreland,-37.69770,144.90710,Northern Metropolitan,8870.0
1697,62,4 Mary St,2,u,4,Nelson,24/09/2016,3.2,3054.0,2.0,1.0,1.0,0.0,86.0,1940.0,Yarra,-37.78130,144.97730,Northern Metropolitan,3106.0
12076,189,48 Manson Dr,3,h,1,YPA,29/07/2017,29.8,3338.0,3.0,1.0,2.0,670.0,124.0,1975.0,Melton,-37.70228,144.57688,Western Victoria,4718.0
10674,133,19 Osborne Av,4,h,3,Barry,8/07/2017,12.9,3043.0,4.0,2.0,2.0,561.0,160.0,1970.0,Hume,-37.68269,144.88601,Western Metropolitan,3285.0
6268,277,327 Gillies St,3,h,0,Nelson,12/06/2016,6.5,3071.0,3.0,2.0,2.0,398.0,126.0,126.0,Darebin,-37.76300,145.01980,Northern Metropolitan,8870.0

In [20]:
# Третий способ - бинаризация. Лучше использовать это, чтобы не возникало ошибок. При бинаризации из одного столбца 
# с несколькими категориальными значениями получается несколько новых бинарных столбцов, значения которых 0 и 1. 

np.unique(X_train["Regionname"])

# Т.к. классов 8, то столбцов будет 8

array(['Eastern Metropolitan', 'Eastern Victoria',
       'Northern Metropolitan', 'Northern Victoria',
       'South-Eastern Metropolitan', 'Southern Metropolitan',
       'Western Metropolitan', 'Western Victoria'], dtype=object)

In [21]:
pd.get_dummies(X_train["Regionname"])

,Eastern Metropolitan,Eastern Victoria,Northern Metropolitan,Northern Victoria,South-Eastern Metropolitan,Southern Metropolitan,Western Metropolitan,Western Victoria
2932,0,0,1,0,0,0,0,0
1697,0,0,1,0,0,0,0,0
12076,0,0,0,0,0,0,0,1
10674,0,0,0,0,0,0,1,0
6268,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...
4201,0,0,0,0,0,0,1,0
6799,0,0,1,0,0,0,0,0
13232,1,0,0,0,0,0,0,0
185,0,0,0,0,0,0,1,0
4496,0,0,1,0,0,0,0,0

In [22]:
# Добавляем новые колонки

X_train = pd.get_dummies(X_train, columns=["Regionname"])

In [24]:
#Смотрим 

X_train.head()

,Suburb,Address,Rooms,Type,Method,SellerG,Date,Distance,Postcode,Bedroom2,...,Longtitude,Propertycount,Regionname_Eastern Metropolitan,Regionname_Eastern Victoria,Regionname_Northern Metropolitan,Regionname_Northern Victoria,Regionname_South-Eastern Metropolitan,Regionname_Southern Metropolitan,Regionname_Western Metropolitan,Regionname_Western Victoria
2932,137,29 Moonee Bvd,3,h,0,Barry,24/09/2016,13.0,3046.0,3.0,...,144.90710,8870.0,0,0,1,0,0,0,0,0
1697,62,4 Mary St,2,u,4,Nelson,24/09/2016,3.2,3054.0,2.0,...,144.97730,3106.0,0,0,1,0,0,0,0,0
12076,189,48 Manson Dr,3,h,1,YPA,29/07/2017,29.8,3338.0,3.0,...,144.57688,4718.0,0,0,0,0,0,0,0,1
10674,133,19 Osborne Av,4,h,3,Barry,8/07/2017,12.9,3043.0,4.0,...,144.88601,3285.0,0,0,0,0,0,0,1,0
6268,277,327 Gillies St,3,h,0,Nelson,12/06/2016,6.5,3071.0,3.0,...,145.01980,8870.0,0,0,1,0,0,0,0,0

In [25]:
# И другие колонки также пробинаризируем

X_train = pd.get_dummies(X_train, columns=["Type"])

In [27]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10864 entries, 2932 to 4496
Data columns (total 29 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Suburb                                 10864 non-null  int64
 1   Address                                10864 non-null  object
 2   Rooms                                  10864 non-null  int64
 3   Method                                 10864 non-null  int32
 4   SellerG                                10864 non-null  object
 5   Date                                   10864 non-null  object
 6   Distance                               10864 non-null  float64
 7   Postcode                               10864 non-null  float64
 8   Bedroom2                               10864 non-null  float64
 9   Bathroom                               10864 non-null  float64
 10  Car                                    10864 non-null  float64
 11  Landsize                               10864 non-null  float64
 12  BuildingArea                           10864 non-null  float64
 13  YearBuilt                              10864 non-null  float64
 14  CouncilArea                            10864 non-null  object
 15  Lattitude                              10864 non-null  float64
 16  Longtitude                             10864 non-null  float64
 17  Propertycount                          10864 non-null  float64
 18  Regionname_Eastern Metropolitan        10864 non-null  uint8
 19  Regionname_Eastern Victoria            10864 non-null  uint8
 20  Regionname_Northern Metropolitan       10864 non-null  uint8
 21  Regionname_Northern Victoria           10864 non-null  uint8
 22  Regionname_South-Eastern Metropolitan  10864 non-null  uint8
 23  Regionname_Southern Metropolitan       10864 non-null  uint8
 24  Regionname_Western Metropolitan        10864 non-null  uint8
 25  Regionname_Western Victoria            10864 non-null  uint8
 26  Type_h                                 10864 non-null  uint8
 27  Type_t                                 10864 non-null  uint8
 28  Type_u                                 10864 non-null  uint8
dtypes: float64(11), int32(1), int64(2), object(4), uint8(11)
memory usage: 1.6+ MB

In [30]:
# Удаление признаков. На это есть две причины: 
#1. не несет полезной информации
#2. Может нести полезную информацию, но сложно предобработать.  (Наш случай)

X_train = X_train.drop(columns=["Address", "Date", "CouncilArea", "SellerG"])  # Удалим это.

In [32]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10864 entries, 2932 to 4496
Data columns (total 25 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Suburb                                 10864 non-null  int64
 1   Rooms                                  10864 non-null  int64
 2   Method                                 10864 non-null  int32
 3   Distance                               10864 non-null  float64
 4   Postcode                               10864 non-null  float64
 5   Bedroom2                               10864 non-null  float64
 6   Bathroom                               10864 non-null  float64
 7   Car                                    10864 non-null  float64
 8   Landsize                               10864 non-null  float64
 9   BuildingArea                           10864 non-null  float64
 10  YearBuilt                              10864 non-null  float64
 11  Lattitude                              10864 non-null  float64
 12  Longtitude                             10864 non-null  float64
 13  Propertycount                          10864 non-null  float64
 14  Regionname_Eastern Metropolitan        10864 non-null  uint8
 15  Regionname_Eastern Victoria            10864 non-null  uint8
 16  Regionname_Northern Metropolitan       10864 non-null  uint8
 17  Regionname_Northern Victoria           10864 non-null  uint8
 18  Regionname_South-Eastern Metropolitan  10864 non-null  uint8
 19  Regionname_Southern Metropolitan       10864 non-null  uint8
 20  Regionname_Western Metropolitan        10864 non-null  uint8
 21  Regionname_Western Victoria            10864 non-null  uint8
 22  Type_h                                 10864 non-null  uint8
 23  Type_t                                 10864 non-null  uint8
 24  Type_u                                 10864 non-null  uint8
dtypes: float64(11), int32(1), int64(2), uint8(11)
memory usage: 1.3 MB

## Закончили предобработку
## Начнем обучение моделей

In [33]:
# Линейная регрессия

from sklearn.linear_model import LinearRegression

lr = LinearRegression()

lr.fit(X_train, y_train)

LinearRegression()

In [34]:
# Случайный лес

from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor(n_estimators=100, max_depth=7)

rf.fit(X_train, y_train)

RandomForestRegressor(max_depth=7)

In [35]:
# подготовка тестовых данных. Также как и тренировочные

X_test["Car"] = X_test["Car"].fillna(X_test["Car"].median())
X_test["BuildingArea"] = X_test["BuildingArea"].fillna(X_test["BuildingArea"].median())
X_test["YearBuilt"] = X_test["YearBuilt"].fillna(X_test["YearBuilt"].median())

X_test["CouncilArea"] = X_test["CouncilArea"].fillna(most_frequent_value)

<ipython-input-35-1d253479a9ab>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test["Car"] = X_test["Car"].fillna(X_test["Car"].median())
<ipython-input-35-1d253479a9ab>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test["BuildingArea"] = X_test["BuildingArea"].fillna(X_test["BuildingArea"].median())
<ipython-input-35-1d253479a9ab>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test["YearBuilt"] = X_test["YearBuilt"].fillna(X_test["YearBuilt"].median())
<ipython-input-35-1d253479a9ab>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test["CouncilArea"] = X_test["CouncilArea"].fillna(most_frequent_value)

In [36]:
X_test["Suburb"] = X_test["Suburb"].apply(lambda x: dict_[x])  # Перевод в цифры (дикшинари)

<ipython-input-36-206d1f225797>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test["Suburb"] = X_test["Suburb"].apply(lambda x: dict_[x])

In [37]:
X_test["Method"] = le.transform(X_test["Method"])

X_test = pd.get_dummies(X_test, columns=["Regionname", "Type"])  # Бинаризация

X_test = X_test.drop(columns=["Address", "Date", "CouncilArea", "SellerG"])  # Удаление

<ipython-input-37-10eaf097d3f7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test["Method"] = le.transform(X_test["Method"])

## Получение предсказаний на тестовом датасете

In [43]:
# Получение предсказаний на линейной регрессии

y_predicted_lr = lr.predict(X_test)
print(y_predicted_lr[:10])
print(np.array(y_test))

[1353940.24553895 1864125.43771501  733220.6513748  1641728.9926642
  832417.27942444  647452.2953282   935683.64008321  843507.45806113
  546664.29292443 2076213.26207884]
[1152000. 1950000.  660000. ...  380000. 1640000. 1200000.]

In [44]:
# Получение предсказаний на рандомном лесу

y_predicted_rf = rf.predict(X_test)
print(y_predicted_rf[:10])
print(np.array(y_test))

[1347454.80729269 2677474.04118863  670976.04071754 2095554.91563754
  653758.69839261  693833.72339927 1109536.74570389  916560.34782333
  739086.89445871 2022340.60236997]
[1152000. 1950000.  660000. ...  380000. 1640000. 1200000.]

## Метрики качества

In [45]:
# Чем меньше результат, тем лучше. Спойлер: Рандом форест выиграл

from sklearn.metrics import mean_absolute_error, mean_squared_error

In [49]:
mean_absolute_error(y_predicted_lr, y_test)

277543.98455945344

In [50]:
mean_squared_error(y_predicted_lr, y_test)

348700808998.35114

In [51]:
mean_absolute_error(y_predicted_rf, y_test)

201193.2089653384

In [52]:
mean_squared_error(y_predicted_rf, y_test)

103385260472.87442

##### работа с моей шизой

In [79]:
from numpy import mean
from numpy import std
from sklearn.datasets import make_regression
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedKFold
from lightgbm import LGBMRegressor

# define the model
model = LGBMRegressor()
# evaluate the model
cv = RepeatedKFold(n_splits=10, n_repeats=3, random_state=1)
n_scores = cross_val_score(model, X_test, y_test, scoring='neg_mean_absolute_error', cv=cv, n_jobs=-1, error_score='raise')

# report performance
print('MAE: %.3f (%.3f)' % (mean(n_scores), std(n_scores)))

MAE: -183306.333 (12978.200)